In [1]:
import pandas as pd
import numpy as np

In [9]:
import sys
sys.setrecursionlimit(1000000)
df = pd.read_pickle('crsp_div_df_afterGroupBy.pkl.zip', compression='zip')

In [10]:

df.head()

                    DCLRDT RCRDDT DISTCD  DIVAMT        RET       RETX  \
CUSIP    date
00003210 1970-11-30    NaT    NaT   None     0.0          C          C
         1970-12-31    NaT    NaT   None     0.0   0.111111   0.111111
         1971-01-29    NaT    NaT   None     0.0  -0.100000  -0.100000
         1971-02-26    NaT    NaT   None     0.0   0.236111   0.236111
         1971-03-31    NaT    NaT   None     0.0  -0.123596  -0.123596

                        VOL     PRC  PRC_t-1  SPREAD  SHROUT       MCAP
CUSIP    date
00003210 1970-11-30   318.0   9.000      NaN     NaN  2655.0  23895.000
         1970-12-31   646.0  10.000    9.000     NaN  2655.0  26550.000
         1971-01-29   636.0   9.000   10.000     NaN  2655.0  23895.000
         1971-02-26  2155.0  11.125    9.000     NaN  2655.0  29536.875
         1971-03-31  2062.0   9.750   11.125     NaN  2655.0  25886.250

In [11]:
for i in range(1,13):
     df['div_' + str(i) + '_month_ago'] = df.groupby('CUSIP').DIVAMT.apply(lambda x: x.shift(i))

In [14]:
for i in range(1,13):
     exec('df_' + str(i) + '_ago = df[ (df[\'div_' + str(i) + '_month_ago\'].isna() == False) & (df[\'div_' + str(i) + '_month_ago\'] != 0) & (df[\'RET\'].isna() == False)]')

In [15]:
for i in range(1,13):
    exec('mean_ret = pd.to_numeric(df_' + str(i) + '_ago[\'RET\'], errors=\'coerce\').mean() * 100')
    print(mean_ret)

1.1264949036207816
1.2294391616393203
1.4363564801995683
1.0811057094766203
1.2358596968897466
1.4570698740263153
1.102909578856663
1.2189892419991226
1.417228553692812
1.0835303649321808
1.2217992375250566
1.4626582599263955

In [16]:
for i in range(1,13):
    exec('sd_ret = pd.to_numeric(df_' + str(i) + '_ago[\'RET\'], errors=\'coerce\').std() * 100')
    print(sd_ret)

10.038192195954853
10.11997804749717
9.949919344166714
10.164469661298016
10.26301635373456
10.067609113613027
10.246807799857315
10.359213454878159
10.174604914558726
10.424048733398124
10.496321937510155
10.258599778065939

                    DCLRDT RCRDDT DISTCD  DIVAMT        RET        VOL  \
CUSIP    date
00003210 1970-11-30    NaT    NaT   None     0.0          C      318.0
         1970-12-31    NaT    NaT   None     0.0   0.111111      646.0
         1971-01-29    NaT    NaT   None     0.0  -0.100000      636.0
         1971-02-26    NaT    NaT   None     0.0   0.236111     2155.0
         1971-03-31    NaT    NaT   None     0.0  -0.123596     2062.0
...                    ...    ...    ...     ...        ...        ...
N5946510 2011-08-31    NaT    NaT   None     0.0  -0.089113  2419635.0
         2011-09-30    NaT    NaT   None     0.0  -0.181205  1672860.0
         2011-10-31    NaT    NaT   None     0.0   0.151854  1538552.0
         2011-11-30    NaT    NaT   None     0.0  -0.002044  1220142.0
         2011-12-30    NaT    NaT   None     0.0   0.098822  1185432.0

                        PRC  PRC_t-1  SPREAD    SHROUT  ...  div_3_month_ago  \
CUSIP    date                                           ...
00003210 1970-11-30   9.000      NaN     NaN    2655.0  ...              NaN
         1970-12-31  10.000    9.000     NaN    2655.0  ...              NaN
         1971-01-29   9.000   10.000     NaN    2655.0  ...              NaN
         1971-02-26  11.125    9.000     NaN    2655.0  ...              0.0
         1971-03-31   9.750   11.125     NaN    2655.0  ...              0.0
...                     ...      ...     ...       ...  ...              ...
N5946510 2011-08-31  20.750   22.780     NaN  426263.0  ...              0.0
         2011-09-30  16.990   20.750     NaN  426485.0  ...              0.0
         2011-10-31  19.570   16.990     NaN  426512.0  ...              0.0
         2011-11-30  19.530   19.570     NaN  426512.0  ...              0.0
         2011-12-30  21.460   19.530     NaN  426678.0  ...              0.0

                    div_4_month_ago  div_5_month_ago  div_6_month_ago  \
CUSIP    date
00003210 1970-11-30             NaN              NaN              NaN
         1970-12-31             NaN              NaN              NaN
         1971-01-29             NaN              NaN              NaN
         1971-02-26             NaN              NaN              NaN
         1971-03-31             0.0              NaN              NaN
...                             ...              ...              ...
N5946510 2011-08-31             0.0              0.0              0.0
         2011-09-30             0.0              0.0              0.0
         2011-10-31             0.0              0.0              0.0
         2011-11-30             0.0              0.0              0.0
         2011-12-30             0.0              0.0              0.0

                     div_7_month_ago  div_8_month_ago  div_9_month_ago  \
CUSIP    date
00003210 1970-11-30              NaN              NaN              NaN
         1970-12-31              NaN              NaN              NaN
         1971-01-29              NaN              NaN              NaN
         1971-02-26              NaN              NaN              NaN
         1971-03-31              NaN              NaN              NaN
...                              ...              ...              ...
N5946510 2011-08-31              0.0              0.0              0.0
         2011-09-30              0.0              0.0              0.0
         2011-10-31              0.0              0.0              0.0
         2011-11-30              0.0              0.0              0.0
         2011-12-30              0.0              0.0              0.0

                     div_10_month_ago  div_11_month_ago  div_12_month_ago
CUSIP    date
00003210 1970-11-30               NaN               NaN               NaN
         1970-12-31               NaN               NaN               NaN
         1971-01-29               NaN               NaN               NaN
         1971-02-26               NaN               NaN               NaN
         1971-03-31               NaN               NaN               NaN
...                               ...               ...               ...
N5946510 2011-08-31               0.0               0.0               0.0
         2011-09-30               0.0               0.0               0.0
         2011-10-31               0.0               0.0               0.0
         2011-11-30               0.0               0.0               0.0
         2011-12-30               0.0               0.0               0.0

[2079762 rows x 24 columns]